html,
body {
  box-sizing: border-box;
}
.square {
  background: white;
  border: 1px solid gray;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  margin: 5px;
  border-radius: 4px;
}

.square:focus {
  outline: none;
}

￼.border-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  position: absolute;
  background: lightblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

@media screen and (max-width: 872px) {
  .game {
    flex-direction: column;
  }
}

@media screen and (min-width: 872px) {
  .button {
    min-width: 140px;
    margin-right: 10px;
  }
}

ol,
ul {
  /* padding-left: 30px; */
  margin: 0 auto;
  list-style: none;
  /* text-align: center; */
}

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
}

.button {
  max-width: 140px;
  width: 60%;
  text-align: center;
  cursor: pointer;
  padding: 3px;
  font-size: 1rem;
}

.status-display {
  font-size: 1.4rem;
  text-align: center;
  padding: 5px 0;
}
